body.page-console {
    #page {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        overflow: hidden;
    }

    #main {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        margin-left: 40px;
    }

    #grid {
        ul {
            list-style-type: none;

            li {
                background-color: red;
            }
        }
    }
}
