// Fonts
$sans-serif-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'PT Sans', sans-serif;

$icon-font-path: '../fonts/';


// Colors
$alto:                     #DBDBDB;
$athens-gray:              #F1F2F4;
$cafe-royale:              #68300B;
$cod-gray:                 #111111;
$curious-blue:             #28AAE1;
$dove-gray:                #666666;
$dust-gray:                #999999;
$espresso:                 #65391C;
$flame-pea:                #DB5035;
$gallery:                  #EFEFEF;
$gothic:                   #6A8EA0;
$mine-shaft:               #222222;
$san-marino:               #4A6EA9;
$webleash-primary:         #F69048;
$white:                    #FFFFFF;
$witch-haze:               #FFFC99;

// Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
